.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-content {
  display: flex;
  flex: 1;
}

.page-container {
  flex: 1;
  padding: 0 20px 20px 20px;
  background-color: #f2f5f8;
  overflow-y: auto;
}
