.view-settlement-container {
  padding: 0 20px 20px 20px;
}

h2 {
  margin-bottom: 15px;
  cursor: default;
}

.add-btn {
  background: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}
.add-btn:hover {
  background: #26aa2a;
}

.settlement-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.settlement-table th,
.settlement-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.toggle-view-btn {
  background: rgb(255, 200, 49);
  margin-right: 5px;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}
.toggle-view-btn:hover {
  background: rgb(255, 187, 0);
  
}

.approve-btn {
  background: #4caf50;
  padding: 5px 10px;
  border: none;
  color: white;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.approve-btn:hover {
  background: #26aa2a;
}
.approve-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.reject-btn {
  background: #e74c3c;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.reject-btn:hover {
  background: #dc2626;
}
.reject-btn:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

.exit-btn {
  background: #e74c3c;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}

.exit-btn:hover {
  background: #dc2626;
}

/* Modal Styles */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px;
  /* width: 300px; */
  border-radius: 8px;
}

.edit-table td {
  padding-left: 20px;
  padding-right: 30px;
}

.modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.save-btn {
  background: #2196f3;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.save-btn:hover {
  background: #0d60a3;
}

.cancel-btn {
  background: #777;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.cancel-btn:hover {
  background: #494949;
}

.back-btn {
  background: #4a89bd;
  color: white;
  padding: 3px 12px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}
.back-btn:hover {
  background: #0f70be;
}
.back-img{
height: 20px;
  width: 20px;
  filter: invert(1);
}